.transparent table{
    width: 180vw;
    opacity: 50;
}

.filter-container {
    width: 100%; 
  margin-bottom: 10px;;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.toggle-container {
  color: orange;
    width: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }