.transparent table{
    width: 180vw;
    opacity: 50;
}

.filter-container {
    width: 100%; 
    margin-bottom: 10px;;
}
.overflow {
  background-color:darkgrey;
  width: 100%; 
  margin-bottom: 50px;
  overflow-y: auto;
}
.footer {
  height: 5vh;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 1 ;
  justify-content: space-around;
}

.toggle-container {
  color: orange;
    width: 100px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  }