.home {
  height: calc(100vh - 55px);
}

.home .navi-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: 2%;
  height: 60vh;
}