  .calendar-container {
    position: relative;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    max-height: 400 px;
    min-width: 800px;
    max-width: 1000px;
    color:orange;
    background-color: seashell;
    border-radius: 8px;
  }