.page4 {
    color: black;
    background-color: orange;    
}

.page4-justify-center {
    text-align: center;
    justify-content: center;
    background-color: orange;
    color: white;
    flex-direction: column;
    align-items: center;
}

.page4-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
}