.SingInPage {
  height: calc(100vh - 55px);
}

.SignInContainer {
  position:relative;
  margin: auto;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  height: auto;
  max-width: 600px;
  min-width: 400px;
  color:orange;
  background-color: seashell;
  border-radius: 10px;
}