.SignInContainer {
  position:relative;
  margin: auto;
  padding-right: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  height: auto;
  max-width: 600px;
  min-width: 400px;
  color:orange;
  background-color: seashell;
  border-radius: 10px;
}

.AuthenticatorMobile {
  width: 90%;
  left: 5%;
  position: absolute;
  margin-top: 10px;
  border-radius: 1%;
}

/*
.Authenticator img {
  position: relative;
  left: 37%;
  margin-top: 20px;
}
*/

.signFormDiv {
  margin-top: 20px;
  width: 50%;
  position: relative;
  left: 25%;
  border-radius: 10px;
}

.signFormDivMobile {
  margin-top: 10px;
  width: 80%;
  position: relative;
  left: 10%;
}

.signFormDiv input {
  margin-top: 5px;
}

.signFormDiv button {
  width: 100%;
  margin-top: 5px;
}

.navi {
  margin: 20px;
  text-align: center;
}

.navi input {
  margin-top: 0;
}

.navi a {
  margin: 10px;
  cursor: pointer;
}

.langSelectAuth {
  font-size: 12px;
  font-weight: normal;
  color: #006838;
  cursor: pointer;
  } 
  .langSelectAuth:hover {
    text-decoration: underline;
  }

.langSelectAuthSelected {
  font-size: 12px;
  font-weight: bold;
  color: #006838;
  cursor: pointer;
  } 
  .langSelectAuth:hover {
    text-decoration: underline;
  }

.langSelectAuthSeparator {
  font-size: 12px;
  font-weight: normal;
  color: #006838;
  }